# Python cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
.venv/
env/
venv/
ENV/

# Streamlit cache
.streamlit/

# Dataset or large files
*.csv
*.xlsx
*.xls
*.json
*.zip
*.tar
*.gz

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log
